<br>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Jifunze!</h1>
    <p class="lead">"jifunze" means "learn" in Swahili. If you're a student looking for a tutor, or a tutor looking for students, you've come to the right place.</p>
    <hr class="my-4">
    <p>Enter any way you'd like.</p>
    
    
        <a id="sign-up" class="btn btn-outline-success" href="<%= signup_path %>" role="button">Sign Up</a>
      
        <a id="log-in" class="btn btn-outline-success" href="<%= login_path %>" role="button">Log In</a>
        <br><br>
        <a class="btn btn-outline-primary" href="/auth/facebook" role="button">Log In With Facebook</a>
        <br>
        <small class="form-text text-muted">(for students)</small>
      
    
  </div>
</div>