<% if @user %>
    <h2><%= @user.name %>'s Available Lesson Slots</h2>
<% else %>
    <h2>All Available Lessons</h2>
<% end %>

<% if current_user.student? %>
    <%= render "student_index" %>
<% else %>
    <%= render "instructor_index" %>
<% end %>