<% if @user %>
    <h2><%= @user.name %>'s Available Lesson Slots</h2>
<% else %>
    <h2>All Available Lessons</h2>
<% end %>

<table id="lessons">
    <tr>
        <th>Instructor</th>
        <th>Subject</th>
        <th>Time</th>
        <th>Booking Link</th>
    </tr>
    <% @lessons.each do |l| %>
    <tr>
        <td><%= l.instructor.name %></td>
        <td><%= l.subject %></td>
        <td><%= l.time.strftime("%A, %d %b %Y at%l:%M %p %Z") %></td>
        <td>INSERT BOOKING LINK</td>
    </tr>
    <% end %>
</table>