<ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lessons
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= lessons_path %>">Community Board</a>
          <a class="dropdown-item" href="<%= user_path(current_user) %>">My Lessons</a>
        </div>
      </li>
</ul>